.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, #49a09d, #5f2c82);

}

h1 {
  font-size: rem;
  color: white;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 15px;
  margin-bottom: 20px;
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  padding: 15px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
